@use "../mixins.scss" as *;

.comment-section {
  @include stack(var(--space-md));

  margin-top: var(--space-xl);
}

.comment-section__title {
  color: var(--color-terracotta);

  font-size: 1.5rem;
}
