@use "../mixins.scss" as *;

.page-footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--space-sm);
}

.page-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--space-sm);

  margin-top: var(--space-base);
  margin-bottom: var(--space-base);

  padding-top: var(--space-base);
}

.page-footer-navigation--home-only {
  justify-content: flex-end;
}

@include tablet {
  .page-footer-navigation {
    justify-content: space-between;
    margin-top: var(--space-lg);
  }
  .page-footer-navigation--home-only {
    justify-content: flex-end;
  }
}
