# dependencies
node_modules
**/node_modules

# environment
.env
.env.local
.env.production
.env.development
**/.env
**/.env.local
**/.env.production
**/.env.development

# builds
dist
build
**/dist
**/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system
.DS_Store

# editor
.vscode